In [10]:
alunos = ['Amanda', 'Ana', 'Bruno', 'João']
notas = [10, 8.5, 7.8, 8.0]

alunos[3] # retornar um elemnto da lista

# verificando o tipo de dado
print(type(alunos))
print(type(notas))

# adicionar um novo elemneto
alunos.append('Izaias')

alunos

# remover um elemento
alunos.remove('João')
alunos

<class 'list'>
<class 'list'>

['Amanda', 'Ana', 'Bruno', 'Izaias']

TUPLAS

In [12]:
valores = (90, 79, 54, 32, 21)
pontos = (100, 94.85, 86.8, 62)

valores[1] = 25

TypeError: 'tuple' object does not support item assignment

tuplas2

In [14]:
my_list = [1,2] # criando uma lista
my_tuple = (1, 2) #criando uma tupla
other_tuple = (3, 4) # criando outra tupla
my_list[1] = 3 #substituindo um elemneto de uma lista

#tratamento de erro
try:
    my_tuple[1] = 3
except TypeError:
    print('você não pode modificar uma tupla!')

você não pode modificar uma tupla!

tupla para funções

In [21]:
def sum_and_product (x, y):
    return ( x + y), (x * y)
sum_and_product(10,2)

(12, 20)

In [25]:
s, p = sum_and_product(5, 10)    # s é 15 p é 50
p

50

Dicionario

In [27]:
altura = {'amanda': 1.65, 'ana': 1.60, 'joão': 1.70}
peso = {'amanda': 65, 'ana': 86, 'joão': 170}

print(type(altura))
print(type(peso))

print('a altura do joão é:', altura['joão'])
print('o peso da ana é: ',peso['ana'])

<class 'dict'>
<class 'dict'>
a altura do joão é: 1.7
o peso da ana é:  86

OUTROS EXEMPLOS:

In [32]:
cadastro = {
        'nome' : 'tania',
        'idade' : 35,
        'fruta' : 'uva',
        'cor' : 'roxa',
        'musica' : 'forró'
}
cadastro ['fruta'] = 'laranja'

del cadastro ['cor']
cadastro

{'nome': 'tania', 'idade': 35, 'fruta': 'laranja', 'musica': 'forró'}